.hello_mycss{
    text-align: center;
    margin: 5em 5em 5em 5em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1abc9c;
  color: #ffffff;
}

button.bg-primary, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #1abc9c !important;
  font-size: 80%;
}

.rounded {
  border-radius: 0.5rem !important;
  border: 1px solid transparent;
}

.task-card{
  margin: 1rem;
  padding: 2rem;
  display: block;
  border: 1px solid #fff;
  border-radius: 1rem 1rem 1rem 1rem;
}

.fixed-buttom {
  position: fixed;
  right: 0;
  bottom: 15%;
  left: 0;
  z-index: 1030;
}

.button-goodlooking {
  width: 100%;
  margin: 10%;
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #1abc9c;
  border-color: #fff;
}

.gap1{
  padding: 1em;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3%;
  background-color: #2c3e50;
  font-size: 0.5rem;
  color: #808080;
  height: 50px;
}

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2c3e50;
  font-weight: 700!important;
}

button.bg-primary, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #1abc9c !important;
  font-size: 80%;
}

.text-uppercase {
  text-transform: uppercase !important;
  font-weight: 700!important;
}